$brown: hsla(0, 12%, 30%, 1);
$green: hsla(95, 33%, 78%, 1);
$blue: hsla(171, 30%, 49%, 1);

%clearfix {
    content: "";
    display: block;
    clear: both;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    width: 700px;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    color: $brown;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    &::before,
    &::after {
        @extend %clearfix;
    }
    h1 {
        width: 50%;
        float: left;
        margin: 0;
        text-align: center;
        font-size: 80px;
        span {
            font-size: 108px;
        }
    }
    address {
        width: 50%;
        float: left;
        font-size: 26px;
        line-height: 1.2;
        border-left: 10px solid $green;
        padding-left: 10px;
    }
}

section {
    &::before,
    &::after {
        @extend %clearfix;
    }
    margin: 20px 0 40px;
    div {
        position: relative;
        margin-bottom: 40px;
        h2 {
            font-size: 18px;
            color: white;
            font-weight: 300;
            white-space: nowrap;

            padding: 0 40px;
            text-align: center;
            text-transform: uppercase;
            font-family: "Times New Roman", serif;

            position: absolute;
            background-color: teal;
            margin: 0;
            top: 0;
            right: 100%;
            transform: rotate(-90deg);
            transform-origin: top right;
        }
        ul {
            padding-left: 35px;
        }
        li {
            line-height: 1.3;
            margin-bottom: 10px;
        }
        &.norm {
            h2 {
                position: static;
                transform: none;
            }
            ul {
                padding-left: 0;
            }
        }
    }
}
.h2-green h2 {
    background-color: $green;
}
.h2-blue h2 {
    background-color: $blue;
}
.h2-brown h2 {
    background-color: $brown;
}
.fifty {
    width: 50%;
    float: left;
}
.thirty {
    width: 33%;
    float: left;
}