		@import url(normalize.css);
		@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
		@import url(http://fonts.googleapis.com/css?family=Raleway);
		/* variables */
		$black: hsla(0, 0%, 8%, 1);
		$white: hsla(0, 0%, 92%, 1);
		$blue: hsla(180, 56%, 53%, 1);
		$green: hsla(100, 61%, 45%, 1);
		$yellow: hsla(44, 100%, 48%, 1);
		$red: hsla(3, 87%, 61%, 1);
		$purple: hsla(318, 51%, 46%, 1);


		/* global layout */
		ul, ol {
			padding: 0;
			margin: auto;
			list-style: none;
			text-align: center;
		}
		/* flexbox */
		#utilnav {
			display: flex;
			li:nth-of-type(4) {
				margin-left: auto;
			}
		}
		nav ul {
			display: flex;
			li {
				flex: 1;
			}
			li:first-of-type {
				flex: 2;
			}
			li:nth-of-type(2) {
				margin-left: auto;
			}
		}
		#boxes {
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-flow: space-around;
			background-color: rgb(207, 207, 207);
			margin: auto;
			padding: 10px;
				div:first-of-type {
				height: 30%;
				color: $white;
				width: auto;
				margin-left: 25px;
			}
				div:last-of-type {
				height: 30%;
				width: 400;
				margin-right: 25px;
			}

		}
		/* styles */
		#utilnav {
			background-color: $black;
			color: $white;
			font-size: 150%;
			font-family: 'Raleway', sans-serif;
			padding: 20px;
			li {
				margin: 0px, 10px;
			}
			margin: auto;
			padding: 15;
			list-style: none;
			display: flex;
			background-color: hsla(0, 0%, 9%, 1);
			color: hsla(0, 0%, 91%, 1);
			font-size: 100%;
			font-family: 'Raleway', sans-serif;
			li {
				padding: 25px;
			}
			li:nth-of-type(3) {
				margin-right: auto;
			}

		}

		nav {
			a {
				color: $white;
				text-decoration: none;
				vertical-align: middle;
				text-align: center;
			}
			ul {
				padding: 15;
				li {
					padding: 55px;
					height: 45px;
				}
				li:nth-of-type(1) {
					background-color: $white;
					margin-right: 20px;
					margin-left: 120px;
					background-image: url(../images/logo.png);
					background-size: 75%;
					background-repeat: no-repeat;
					background-position: center;
					font-weight: 200px;
				}
				li:nth-of-type(2) {
					background-color: $blue;
				}
				li:nth-of-type(3) {
					background-color: $green;
				}
				li:nth-of-type(4) {
					background-color: $yellow;
				}
				li:nth-of-type(5) {
					background-color: $red;
				}
				li:nth-of-type(6) {
					background-color: $purple;
					margin-right: 70px;}
			}
		}
		#firstpic {
			display: flex;
			flex-flow: column;
			font-family: 'Raleway', sans-serif;
			background-image: url(../images/slider-img1.jpg);
   			background-position: center;
			background-repeat: no-repeat;
   			background-size: 100%;
   			text-align: center;
			padding: 10px, 10px;
			font-size: 3em;
			color: white;
			margin: 0;
		}	
			h1 {
				font-weight: 400px;
				font-size: 3.25em;
			}
			h2 {
				font-weight: 200px;
				font-size: 2em;
			}
	







	